{% extends 'plantillaDashboard.html' %}
{% block modulo %}
<h1 class="text-center my-3">Empleados</h1>

<div class="container my-4">
    <form class="row g-3 justify-content-center">
        <div class="col-3">
            <select id="sltSearchBy" class="form-select" placeholder="Ordenar por" required onchange="searchEmployee()">
                <option value="idEmpleado" selected>Buscar por: ID</option>
                <option value="nombre">Buscar por: Nombre</option>
                <option value="apellidoPaterno">Buscar por: Apellido paterno</option>
                <option value="apellidoMaterno">Buscar por: Apellido materno</option>
                <option value="genero">Buscar por: Género</option>
                <option value="domicilio">Buscar por: domicilio</option>
                <option value="telefono">Buscar por: telefono</option>
                <option value="rfc">Buscar por: RFC</option>
                <option value="numeroEmpleado">Buscar por: Número de empleado</option>
                <option value="puesto">Buscar por: puesto</option>
                <option value="nombreUsuario">Buscar por: Nombre de usuario</option>
            </select>
        </div>
        <div class="col-3">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" id="searchBar"
                oninput="searchEmployee()" />
        </div>
        <div class="col-3">
            <select id="sltStatus" class="form-select" placeholder="Ordenar por" onchange="refreshEmployeesTable()">
                <option value="1" selected>Mostrar registros activos</option>
                <option value="0">Mostras registros inactivos</option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-success" type="button" onclick="loadEmployeesForm()">
                Agregar
            </button>
        </div>
    </form>
</div>

<div class="container-fluid">
    <div class="table-responsive my-4">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Género</th>
                    <th>Domicilio</th>
                    <th>Teléfono</th>
                    <th>Puesto</th>
                    <th>Fecha de contratación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for empleado in empleados %}
                <tr>
                    <td>{{ empleado['persona']['nombre'] }} {{ empleado['persona']['apellido_p'] }} {{
                        empleado['persona']['apellido_m'] }}</td>
                    <td>{{ empleado['persona']['genero'] }}</td>
                    <td>{{ empleado['persona']['direccion'] }}</td>
                    <td>{{ empleado['persona']['telefono'] }}</td>
                    <td>{{ empleado.puesto }}</td>
                    <td>{{ empleado.fecha_contratacion.date() }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock modulo %}