{% extends 'empleadosDetalle.html' %}
{% block form %}
{{ super() }}
  <div class="col-lg-4 col-md-6 col-sm-12 my-3">
    <div class="form-floating">
      {% if form.usuario.errors %}
      {{ form.usuario(class="form-control is-invalid", placeholder=form.usuario.label.text) }}
      <div class="invalid-feedback">
        {% for error in form.usuario.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.usuario(class="form-control", placeholder=form.usuario.label.text) }}
      {% endif %}
      {{ form.usuario.label }}
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 my-3">
    <div class="form-floating">
      {% if form.password.errors %}
      {{ form.password(class="form-control is-invalid", placeholder=form.password.label.text) }}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.password(class="form-control", placeholder=form.password.label.text) }}
      {% endif %}
      {{ form.password.label }}
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 my-3">
    <div class="form-floating">
      {% if form.confirmar_password.errors %}
      {{ form.confirmar_password(class="form-control is-invalid", placeholder=form.confirmar_password.label.text) }}
      <div class="invalid-feedback">
        {% for error in form.confirmar_password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      {{ form.confirmar_password(class="form-control", placeholder=form.confirmar_password.label.text) }}
      {% endif %}
      {{ form.confirmar_password.label }}
    </div>
  </div>
{% endblock form %}

{% block botones %}
  {{ form.submit(class="btn btn-info m-2") }}
{% endblock botones %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock scripts %}