{% extends 'plantillaDashboard.html' %}
{% block modulo %}
<div class="container-fluid">
    <h1 class="text-center my-3">Cambiar contraseña</h1>
    <form action="" method="post" class="row">
        {{ form.hidden_tag() }}
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="form-floating">
              {% if form.password_actual.errors %}
              {{ form.password_actual(class="form-control is-invalid", placeholder=form.password_actual.label.text) }}
              <div class="invalid-feedback">
                {% for error in form.password_actual.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.password_actual(class="form-control", placeholder=form.password_actual.label.text) }}
              {% endif %}
              {{ form.password_actual.label }}
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="form-floating">
              {% if form.password_nuevo.errors %}
              {{ form.password_nuevo(class="form-control is-invalid", placeholder=form.password_nuevo.label.text) }}
              <div class="invalid-feedback">
                {% for error in form.password_nuevo.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.password_nuevo(class="form-control", placeholder=form.password_nuevo.label.text) }}
              {% endif %}
              {{ form.password_nuevo.label }}
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="form-floating">
              {% if form.confirmar_password_nuevo.errors %}
              {{ form.confirmar_password_nuevo(class="form-control is-invalid", placeholder=form.confirmar_password_nuevo.label.text) }}
              <div class="invalid-feedback">
                {% for error in form.confirmar_password_nuevo.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.confirmar_password_nuevo(class="form-control", placeholder=form.confirmar_password_nuevo.label.text) }}
              {% endif %}
              {{ form.confirmar_password_nuevo.label }}
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            {{ form.submit(class="btn btn-info m-2") }}
          <a class="btn btn-danger m-2" href="{{ url_for('modificar_mis_datos') }}">Regresar<a/>
        </div>
    </form>
</div>

{% endblock modulo %}
{% block scripts %}
 {{ super() }}
{% endblock scripts %}