{% extends 'plantillaDashboard.html' %}
{% block modulo %}
<div class="container-fluid">
    <h1 class="text-center my-3">Detalle producto</h1>
    <form class="row" method="post" action="">
        {{ form.hidden_tag() }}
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="form-floating">
              {% if form.nombre.errors %}
              {{ form.nombre(class="form-control is-invalid", placeholder=form.nombre.label.text) }}
              <div class="invalid-feedback">
                {% for error in form.nombre.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.nombre(class="form-control", placeholder=form.nombre.label.text) }}
              {% endif %}
              {{ form.nombre.label }}
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="form-floating">
              {% if form.precio.errors %}
              {{ form.precio(class="form-control is-invalid", placeholder=form.precio.label.text) }}
              <div class="invalid-feedback">
                {% for error in form.precio.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.precio(class="form-control", placeholder=form.precio.label.text) }}
              {% endif %}
              {{ form.precio.label }}
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="form-floating">
              {% if form.modelo.errors %}
              {{ form.modelo(class="form-control is-invalid", placeholder=form.modelo.label.text) }}
              <div class="invalid-feedback">
                {% for error in form.modelo.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.modelo(class="form-control", placeholder=form.modelo.label.text) }}
              {% endif %}
              {{ form.modelo.label }}
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="form-floating">
              {% if form.marca.errors %}
              {{ form.marca(class="form-control is-invalid", placeholder=form.marca.label.text) }}
              <div class="invalid-feedback">
                {% for error in form.marca.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.marca(class="form-control", placeholder=form.marca.label.text) }}
              {% endif %}
              {{ form.marca.label }}
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="form-floating">
              {% if form.descripcion.errors %}
              {{ form.descripcion(class="form-control is-invalid", placeholder=form.descripcion.label.text) }}
              <div class="invalid-feedback">
                {% for error in form.descripcion.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.descripcion(class="form-control", placeholder=form.descripcion.label.text) }}
              {% endif %}
              {{ form.descripcion.label }}
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
          {% if operacion == "Detalle" %}
          <button type="button" class="btn btn-warning m-2" id="btnModificar">Modificar</button>
          {{ form.submit(class="btn btn-info m-2 d-none", id="btnGuardar") }}
          <a class="btn btn-danger m-2" href="/producto">Regresar</a>
        </div>
    </form>
</div>

{% endblock modulo %}
{% block scripts %}
 {{ super() }}
 <script>
     const inputs = document.querySelectorAll('input:not([type="submit"]), select, textarea')
     inputs.forEach(element => {
        element.disabled = true
     });
     const btnModificar  = document.getElementById('btnModificar')
     btnModificar.addEventListener('click', () => {
      inputs.forEach(element => {
          element.disabled = false
      });
      document.getElementById('btnGuardar').classList.remove('d-none')
     });
 </script>
{% endblock scripts %}