{% extends 'plantillaDashboard.html' %}
{% block modulo %}
<h1 class="text-center my-3">Productos</h1>

<div class="container my-4">
    <form class="row g-3 justify-content-center" action="" method="post">
        <div class="col-3">
            <div class="form-floating">
                {{ form.hidden_tag() }}
                {% if form.filtro.errors %}
                    {{ form.filtro(class="form-control is-invalid", placeholder=form.filtro.label.text) }}
                    <div class="invalid-feedback">
                    {% for error in form.filtro.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.filtro(class="form-control", placeholder=form.filtro.label.text) }}
                {% endif %}
                {{ form.filtro.label }}
            </div>
        </div>
        <div class="col-3">
            <div class="form-floating">
                {% if form.busqueda.errors %}
                    {{ form.busqueda(class="form-control is-invalid", placeholder=form.busqueda.label.text) }}
                    <div class="invalid-feedback">
                    {% for error in form.busqueda.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{ form.busqueda(class="form-control", placeholder=form.busqueda.label.text) }}
                {% endif %}
                {{ form.busqueda.label }}
            </div>
        </div>
        <div class="col-auto">
            {{ form.submit(class="btn btn-info m-2") }}
            <a class="btn btn-success" href="/producto/registrar">
                Agregar
            </a>
        </div>
    </form>
</div>

<div class="container-fluid">
    <div class="table-responsive my-4">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Descripción</th>
                    <th>Foto</th>
                    <th>QR</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto['nombre']}}</td>
                    <td>{{ producto['precio']}}</td>
                    <td>{{ producto['marca']}}</td>
                    <td>{{ producto['modelo']}}</td>
                    <td>{{ producto['descripcion']}}</td>
                    <td>
                        <img src="{{ url_for('static', filename='img-productos/' ~ producto.nombreFoto) }}" width="100px">
                    </td>
                    <td>
                        <img src="{{ qrcode(producto._id) }}" width="100px">
                    </td>
                    <td>
                        <a href="{{ url_for('modificar_producto', id=producto._id) }}" class="btn btn-primary btn-sm" role="button m-2">Detalle</a>
                        <form action="{{ url_for('borrar_producto') }}" method="post" class="d-inline">
                            <input type="hidden" name="id" value="{{ producto._id }}">
                            <input type="submit" class="btn btn-danger btn-sm m-2" value="Eliminar">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock modulo %}