{% extends 'plantillaDashboard.html' %}
{% block modulo %}
<div class="container-fluid">
    <h1 class="text-center my-3">Mis datos</h1>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <h3>Nombre: <span>{{empleado['persona']['nombre']}}</span></h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <h3>Apellido paterno: <span>{{empleado['persona']['apellido_p']}}</span></h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <h3>Apellido materno: <span>{{empleado['persona']['apellido_m']}}</span></h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <h3>Dirección: <span>{{empleado['persona']['direccion']}}</span></h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <h3>Teléfono: <span>{{empleado['persona']['telefono']}}</span></h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <h3>Género: <span>{{empleado['persona']['genero']}}</span></h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <h3>Fecha de nacimiento: <span>{{empleado['fecha_nacimiento'].date()}}</span></h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <h3>Puesto: <span>{{empleado['puesto']}}</span></h3>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <h3>Fecha de contratación: <span>{{empleado['fecha_contratacion'].date()}}</span></h3>
        </div>
    </div>
    <form action="" method="post" class="row">
        {{ form.hidden_tag() }}
        <div class="col-lg-4 col-md-6 col-sm-12 my-3">
            <div class="form-floating">
              {% if form.usuario.errors %}
              {{ form.usuario(class="form-control is-invalid", placeholder=form.usuario.label.text) }}
              <div class="invalid-feedback">
                {% for error in form.usuario.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% else %}
              {{ form.usuario(class="form-control", placeholder=form.usuario.label.text) }}
              {% endif %}
              {{ form.usuario.label }}
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <button type="button" class="btn btn-warning m-2" id="btnModificar">Modificar</button>
            {{ form.submit(class="btn btn-info m-2 d-none", id="btnGuardar") }}
          <a class="btn btn-danger m-2" href="{{ url_for('home') }}">Regresar<a/>
        </div>
    </form>
</div>

{% endblock modulo %}
{% block scripts %}
 {{ super() }}
 <script>
     const inputs = document.querySelectorAll('input:not([type="submit"]), select')
     inputs.forEach(element => {
        element.disabled = true
     });
     const btnModificar  = document.getElementById('btnModificar')
     btnModificar.addEventListener('click', () => {
      inputs.forEach(element => {
          element.disabled = false
      });
      document.getElementById('btnGuardar').classList.remove('d-none')
     });
 </script>
{% endblock scripts %}